.menu {
  display: flex;
  font-size: 25px;
  justify-content: center;
  gap: 25px;
}
.typeSection {
  list-style: none;
  color: #000000;
}
.menu .active {
  background-color: #5b9180;
  padding: 25px;
  border-bottom: 8px solid #ffffff;
  color: #ffffff;
}
