.sprint {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sprint-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
}

.sprint-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}