.footer {
  height: 100px;
  background-color: #000;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 0;
  align-items: center;
  padding: 0 1.2%;
}

.footer_git {
  display: flex;
  gap: 10px;
}

.footer_logoRs {
  filter: invert(1);
}
