.number-page {
  display: none;
}
.number-page.active {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
  font-size: 25px;
}

.page {
  border: 0px solid;
  border-radius: 100px;
  width: 38px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page.learn {
  border: 4px solid #ffffff;
  color: #000000;
  background-color: #ffffff;
  border-radius: 100px;
  width: 38px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-btn-page {
  display: none;
}
.box-btn-page.active {
  display: flex;
}
