.number-page {
  display: none;
}
.number-page.active {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
  font-size: 25px;
}

.page.learn {
  background-color: blue;
}

.box-btn-page {
  display: none;
}
.box-btn-page.active {
  display: block;
}
