.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #223b40;
  color: #cdcdcd;
  height: 70px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 15px;
}

@media (max-width: 600px) {
  .nav-list {
    gap: 10px;
  }
}

.nav__link {
  text-decoration: none;
  color: #cdcdcd;
  transition: all 0.5s linear;
}

.nav__link:visited {
  color: #cdcdcd;
}
.nav__link:hover {
  color: #fafafa;
}
.nav__link:active {
  color: #fafafa;
}
